# C Specific

# Object files
*.o
# Libraries
*.lib
# Shared objects (inc. Windows DLLs)
*.dll
*.so
# Executables
*.exe
*.out
*.la
*.lo

# http://www.gnu.org/software/automake
Makefile.in
Makefile.Global

# http://www.gnu.org/software/autoconf
/acinclude.m4
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# libtool
/.deps
libtool.m4
mkdep.awk
scan_makefile_in.awk
shtool
/ltmain.sh
/ltmain.sh.backup
/mkinstalldirs

# configure
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.sub
/config.nice
/configure.in
/config.log
/configure.ac
/config.status

# phpize
/run-tests.php
.libs
Makefile*
build
tests/*.diff
tests/*.exp
tests/*.log
tests/*.php
tests/*.sh
modules
libtool

# OSX stupidity
.DS_Store
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Ignored because CMake isn't really used apart from to tell CLion where to find libraries
cmake-build-*
