version: 2

default_job: &default_job
  docker:
    - image: circleci/buildpack-deps:bionic-scm
  working_directory: ~/repo
  steps:
    - run:
        name: "Install PHP"
        command: |
          sudo DEBIAN_FRONTEND=noninteractive apt-get -yq install software-properties-common build-essential autoconf $ADDITIONAL_SYS_PACKAGES
          cd /tmp
          [[ -z $SCOUT_PHP_URL ]] && FINAL_DOWNLOAD_URL="https://www.php.net/distributions/php-$SCOUT_PHP_VERSION.tar.gz" || FINAL_DOWNLOAD_URL=$SCOUT_PHP_URL
          echo "Downloading release from $FINAL_DOWNLOAD_URL ..."
          wget $FINAL_DOWNLOAD_URL
          tar zxf php-$SCOUT_PHP_VERSION.tar.gz
          cd php-$SCOUT_PHP_VERSION
          ./configure $SCOUT_PHP_CONFIGURE_OPTS
          make -j$(nproc)
          sudo make install
          cd ~/repo
    - checkout
    - run:
        name: "Build extension"
        command: |
          phpize
          ./configure --enable-scoutapm --enable-scoutapm-dev
          make
    - run:
        name: "Run tests"
        command: |
          php run-tests.php -p `which php` -d zend_extension=`pwd`/modules/scoutapm.so -g "FAIL,XFAIL,BORK,WARN,LEAK,SKIP" --offline --show-diff --set-timeout 120
    - run:
        name: "Benchmark"
        command: |
          sudo apt update && sudo apt install time
          ./benchmark.sh
          ./benchmark.sh -w
    - store_artifacts:
        path: ~/repo/tests

jobs:
  # 7.1
  "build-7.1.9":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.1.9
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug
  "build-7.1.33":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.1.33
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug
  "build-7.1.33-zts":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.1.33
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug --enable-maintainer-zts
  "build-7.1.33-no-curl":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev
      SCOUT_PHP_VERSION: 7.1.33
      SCOUT_PHP_CONFIGURE_OPTS: --enable-debug
  # 7.2
  "build-7.2.0":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.2.0
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug
  "build-7.2.34":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.2.34
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug
  "build-7.2.34-zts":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.2.34
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug --enable-maintainer-zts
  "build-7.2.34-no-curl":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev
      SCOUT_PHP_VERSION: 7.2.34
      SCOUT_PHP_CONFIGURE_OPTS: --enable-debug
  # 7.3
  "build-7.3.0":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.3.0
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug
  "build-7.3.25":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.3.25
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug
  "build-7.3.25-zts":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.3.25
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug --enable-maintainer-zts
  "build-7.3.25-no-curl":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev
      SCOUT_PHP_VERSION: 7.3.25
      SCOUT_PHP_CONFIGURE_OPTS: --enable-debug
  # 7.4
  "build-7.4.0":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.4.0
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug
  "build-7.4.13":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.4.13
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug
  "build-7.4.13-zts":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 7.4.13
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug --enable-maintainer-zts
  "build-7.4.13-no-curl":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev
      SCOUT_PHP_VERSION: 7.4.13
      SCOUT_PHP_CONFIGURE_OPTS: --enable-debug
  # 8.0
  "build-8.0.0":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 8.0.0
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug
  "build-8.0.0-zts":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev libcurl4-openssl-dev
      SCOUT_PHP_VERSION: 8.0.0
      SCOUT_PHP_CONFIGURE_OPTS: --with-curl --enable-debug --enable-maintainer-zts
  "build-8.0.0-no-curl":
    <<: *default_job
    environment:
      ADDITIONAL_SYS_PACKAGES: libxml2-dev libsqlite3-dev
      SCOUT_PHP_VERSION: 8.0.0
      SCOUT_PHP_CONFIGURE_OPTS: --enable-debug

workflows:
  version: 2
  build:
    jobs:
      # 7.1
      - "build-7.1.9"
      - "build-7.1.33"
      - "build-7.1.33-zts" # only test with zts for the latest of each minors
      - "build-7.1.33-no-curl" # only test without curl for the latest of each minors
      # 7.2
      - "build-7.2.0"
      - "build-7.2.34"
      - "build-7.2.34-zts" # only test with zts for the latest of each minors
      - "build-7.2.34-no-curl" # only test without curl for the latest of each minors
      # 7.3
      - "build-7.3.0"
      - "build-7.3.25"
      - "build-7.3.25-zts" # only test with zts for the latest of each minors
      - "build-7.3.25-no-curl" # only test without curl for the latest of each minors
      # 7.4
      - "build-7.4.0"
      - "build-7.4.13"
      - "build-7.4.13-zts" # only test with zts for the latest of each minors
      - "build-7.4.13-no-curl" # only test without curl for the latest of each minors
      # 8.0
      - "build-8.0.0"
      - "build-8.0.0-zts"
      - "build-8.0.0-no-curl"
